/*
 *
 */

* {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 100;
}

/*
 * Layout
 */

.app-container {
  background-color: #EEE;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app-center {
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 10px;
}

/*
 * Components
 */

.app-error:after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: 'ERROR';
  font-size: small;
  padding: 2px;
  color: white;
  background-color: darkred;
}
