#
# ./tools/python/bin/pip install --upgrade -r requirements.txt
# ./tools/python/bin/pip list
#

# Testing
mock
nose
nose-exclude

# Standard
easydict
httpretty
pyyaml
requests

# Flask
Flask
Flask-Injector
flask-environments
