{% extends "layout.html" %}

{% block head %}

  <title>Test</title>

  <script type="text/javascript" src="/res/lib/requirejs/require.js" data-main="/res/js/app/demo/config"></script>

{% endblock %}

{% block body %}

  <!--
    Mixing templates (Jinja2/angular)
    http://lorenhoward.com/blog/how-to-get-angular-to-work-with-jinja/
    http://flask-triangle.readthedocs.org/en/develop/tutorial/part1.html
    -->
  {% raw %}
  <div id="app" xmlns:ng="http://angularjs.org">
    <div ng-view></div>
  </div>
  {% endraw %}

{% endblock %}
