<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
  <head>

    <meta charset="utf-8">

    <link rel="icon" href="/favicon.ico">
    <link href="/res/css/main.css" rel="stylesheet">

    <title>{{ config.app.name }}</title>

    {% block head %}
    {% endblock %}

  </head>
  <body>

    <div class="app-container">
      <div class="app-center">

        <div class="app-header">
        {# http://flask.pocoo.org/docs/0.10/patterns/flashing #}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="app-flash">
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
          </div>
          {% endif %}
        {% endwith %}
        </div>

        <div class="app-body"></div>
        {% block body %}
        {% endblock %}
        </div>

        <div class="app-footer"></div>
      </div>
    </div>

  </body>
</html>
