{% extends "layout.html" %}

{% block head %}

  <title>{{ config.title }}</title>

{% endblock %}

{% block body %}

  <!-- TODO(burdon): Bootstrap styling. -->
  <h1>Options</h1>

  <form action="/demo">
  <table>
    <tr>
      <td>Debug</td>
      <td><input type="checkbox" name="debug"/></td>
    </tr>
    <tr>
      <td>Proxy</td>
      <td>
        <div>
          <input type="radio" name="proxy" value="ajax" checked="checked"/><span>Ajax</span>
          <input type="radio" name="proxy" value="websockets"/><span>WebSockets</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>Database</td>
      <td>
        <div>
          <input type="radio" name="db" value="client" checked="checked"/><span>Client</span>
          <input type="radio" name="db" value="remote"/><span>Remote</span>
          <input type="radio" name="db" value="hybrid"/><span>Hybrid</span>
        </div>
      </td>
    </tr>
  </table>
  <input type="submit"/>
  </form>

{% endblock %}
