<div>

  <div class="app-info">
    <ui-table bind="AppInfo"></ui-table>
  </div>

  <div class="app-graph">
    <ui-graph bind="GraphModel"></ui-graph>
  </div>

  <div class="app-menu">
    <div ng-controller="MenuController">
      <button ng-click="clear()">Clear</button>
      <button ng-click="load()">Load</button>
      <button ng-click="add()">Add</button>
      <button ng-click="start()">Start</button>
      <button ng-click="stop()">Stop</button>
    </div>
  </div>

  <div class="app-status">
    <div ng-controller="StatusController">{{ message }}</div>
  </div>

</div>
